li {
    list-style: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

input,
select {
    border: 1px solid black;
    padding: 10px;
    display: flex;
}

.checkout_form {
    font-size: 1.2em;
}

textarea {
    border: 1px solid black;
    padding: 3%;
    height: 40%;
    min-height: 100%;
    padding: 100px;
}

.checkoutform > * {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    text-align: left;
    padding-top: 8%;
    padding-bottom: 10%;
    padding-left: 10%;
}

.column {
    float: right;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px;
}