li {
    list-style: none;
}

.contact_us {
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 3%;
}

input,
select {
    border: 1px solid black;
    padding: 10px;
    display: flex;
}

.contact_form {
    font-size: 1.2em;
}

textarea {
    border: 1px solid black;
    padding: 3%;
    height: 40%;
    min-height: 100%;
    padding: 100px;
}

.contactform > * {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    text-align: left;
    margin: 30px auto;
}

.cta_home {
    background-color: #0a3641;
    border: 1px solid #0a3641;
    color: #fff;
    font-size: 1.2em;
    margin-bottom: 5%;
    margin-left: 45%;
    text-align: center;
    padding: 20px 40px;
}