

.homephoto_container {
    display: flex;
}

.homephoto {
    align-items: center;
}

.popular {
    font-size: 1.5em;
    display: block;
    text-align: left;
    padding: 10px 100px;
}

.retrojacket, 
.hikerjacket, 
.runningjacket {
    padding: 15%;
}

.popular_products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    list-style-type: none;
}