.homepage_photo {
    background-repeat: no-repeat;
    width: 1452px;
    height: 480px;
    right: 1px;
    top: 618px;
}

.cta {
    background-color: transparent;
    color: #fff;
    top: 950px;
    left: 560px;
    text-decoration: none;
    font-size: 1.5em;
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    padding: 20px;
}

.popular_now {
    left: 111px;
    top: 1150px;
    font-size: 1.2em;
}

.retro_jacket {
    background-image: url(../images/retro.png);
    background-repeat: no-repeat;
    width: 290px;
    height: 320px;
    left: 150px;
    top: 1350px;
}

.retro_text {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    left: 240px;
    top: 1700px;
}

.retro_price {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    left: 250px;
    top: 1740px;
}


.hiker_jacket {
    background-image: url(../images/hiker.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 310px;
    height: 320px;
    left: 550px;
    top: 1350px;
}

.hiker_text {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    left: 650px;
    top: 1700px;
}

.hiker_price {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    left: 672px;
    top: 1740px;
}

.running_jacket {
    background-image: url(../images/running.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 260px;
    height: 330px;
    left: 1030px;
    top: 1350px;
}

.running_text {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    left: 1105px;
    top: 1700px;
}

.running_price {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    left: 1124px;
    top: 1740px;
}

.footerbar_home {
    width: 1440px;
    height: 83px;
    left: 1px;
    top: 1900px;
    background: #0A3641;
}