li a {
    text-decoration: none;
    color: black;
}

.columnone,
.columntwo, 
.columnthree {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    list-style-type: none;
    padding-top: 5%;
    padding-left: 10%;
    padding-bottom: 3%;
    font-size: 1.2em;
}

.sailortext,
.sailorprice,
.skitext,
.skiprice,
.retrotext,
.retroprice,
.campingtext,
.campingprice,
.runningtext,
.runningprice {
    padding-left: 15%;
}

.hikertext,
.hikerprice {
    padding-left: 23%;
}


.softshelltext,
.softshellprice {
    padding-left: 13%;
}

