li a {
    text-decoration: none;
    color: black;
}

.column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    list-style-type: none;
    padding-top: 5%;
    padding-left: 10%;
    padding-bottom: 3%;
    font-size: 1.2em;
}

.row_one {
    padding-left: 15%;
}

.row_two {
    padding-left: 23%;
}


.row_three {
    padding-left: 13%;
}

@media only screen and (min-width: 1024px) {
    .column {
       grid-template-columns: 1fr 1fr;
   }
 }