.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

img {
    max-width: 100%;
}

.container {
    flex-basis: 35%;
}

.container {
    text-align: center;
    font-size: 1.2em;
    padding: 5%;
    max-width: 100%;
}

.cta_buy {
    padding-left: 20%;
    background-color: #0a3641;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    align-items: center;
    margin-bottom: 5%;
    padding: 10px 20px;
    max-width: 30%;
}

.hide {
    display: none;
    }

@media only screen and (max-width: 860px) {
    .cta_buy {
        max-width: 50%;
   }
 }