@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.logo {
    margin-left: 250px;
    
}

body {
    font-family: Roboto, sans-serif, Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0xp;
}

.menubar {
    background-color: #0A3641;
    overflow: hidden;
    text-align: center;
}

nav li {
    display: inline-block;
}

ul li {
    display: inline-block;
}

div li {
    display: inline-block;
}

.menu a{
    color: #fff;
    display: block;
    text-decoration: none;
    width: 100px;
    font-size: 1.2em;
}

.fa-regular {
    color: #fff;
    text-decoration: none;
    float: inline-end;
    margin-top: 18px;
    margin-right: 40px;
    font-size: 1.5em;
}

.footerbar {
    background-color: #0A3641;
    overflow: hidden;
    text-align: center;
    position: relative;
    margin-top: 550px;
}

.footer a, 
.fa-brands {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-size: 1em;
}

/* Home Page */

.homepage_photo {
    background-repeat: no-repeat;
    width: 1425px;
    height: 600px;
    display: block;
}

.cta {
    background-color: transparent;
    color: #fff;
    position: absolute;
    top: 990px;
    left: 600px;
    text-decoration: none;
    font-size: 1.5em;
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    padding: 20px;
}

.popular_now {
    position: absolute;
    left: 100px;
    font-size: 1.5em;
}

.retro_jacket {
    background-image: url(../images/retro.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 370px;
    height: 400px;
    margin: 0;
    padding: 0;
    position: absolute;
    margin-top: 125px;
    margin-left: 70px;
    -ms-transform-origin-y: 100px;
}

.retro_text {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    position: absolute;
    left: 200px;
    top: 1760px;
}

.retro_price {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    position: absolute;
    left: 220px;
    top: 1790px;
}


.hiker_jacket {
    background-image: url(../images/hiker.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 420px;
    margin: 0;
    padding: 0;
    position: absolute;
    margin-left: 500px;
    margin-top: 40px;
}

.hiker_text {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    position: absolute;
    left: 663px;
    top: 1760px;
}

.hiker_price {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    position: absolute;
    left: 672px;
    top: 1790px;
}

.running_jacket {
    background-image: url(../images/running.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 312px;
    height: 400px;
    margin: 0;
    padding: 0;
    position: absolute;
    margin-top: 5px;
    margin-left: 1000px;
}

.running_text {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    position: absolute;
    left: 1111px;
    top: 1760px;
}

.running_price {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    position: absolute;
    left: 1124px;
    top: 1790px;
}

/* Men page, Women page */

.sailorjacket {
    background-image: url(../images/sailor.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 350px;
    margin: 0;
    padding: 0;
    position: absolute;
    margin-top: 20px;
    margin-left: 120px;
}

.skijacket {
    background-image: url(../images/ski.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 280px;
    height: 330px;
    margin: 0;
    padding: 0;
    position: absolute;
    margin-top: 40px;
    margin-left: 550px;
}

.hikerjacket {
    background-image: url(../images/hiker.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 330px;
    height: 340px;
    margin: 0;
    padding: 0;
    position: absolute;
    margin-top: 40px;
    margin-left: 950px;
}

.sailortext {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    position: absolute;
    left: 220px;
    top: 1000px;
}

.skitext {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    position: absolute;
    left: 640px;
    top: 1000px;
}

.hikertext {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    position: absolute;
    left: 1080px;
    top: 1000px;
}

.sailorprice {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    position: absolute;
    left: 230px;
    top: 1030px;
}

.skiprice {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    position: absolute;
    left: 645px;
    top: 1030px;
}

.hikerprice {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    position: absolute;
    left: 1100px;
    top: 1030px;
}

.retrojacket {
    background-image: url(../images/retro.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 320px;
    margin: 0;
    padding: 0;
    position: absolute;
    margin-top: 500px;
    margin-left: 130px;
}

.campingjacket {
    background-image: url(../images/camping.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 320px;
    margin: 0;
    padding: 0;
    position: absolute;
    margin-top: 500px;
    margin-left: 540px;
}

.softshelljacket {
    background-image: url(../images/softshell.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 270px;
    height: 330px;
    margin: 0;
    padding: 0;
    position: absolute;
    margin-top: 500px;
    margin-left: 980px;
}

.retrotext {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    position: absolute;
    left: 230px;
    top: 1500px;
}

.campingtext {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    position: absolute;
    left: 650px;
    top: 1500px;
}

.softshelltext {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    position: absolute;
    left: 1050px;
    top: 1500px;
}

.retroprice {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    position: absolute;
    left: 250px;
    top: 1530px;
}

.campingprice {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    position: absolute;
    left: 670px;
    top: 1530px;
}

.softshellprice {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    position: absolute;
    left: 1080px;
    top: 1530px;
}

.runningjacket {
    background-image: url(../images/running.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 270px;
    height: 340px;
    margin: 0;
    padding: 0;
    position: absolute;
    margin-top: 950px;
    margin-left: 130px;
}

.runningtext{
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    position: absolute;
    left: 200px;
    top: 2030px;
}

.runningprice {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    position: absolute;
    left: 220px;
    top: 2060px;
}

.footerbar_men {
    background-color: #0A3641;
    overflow: hidden;
    text-align: center;
    position: relative;
    margin-top: 1400px;
}

/* About page */

.about_photo {
    display: block;
    width: 750px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

.about_text {
    font-size: 1.2em;
    display: block;
    margin-left: 400px;
}

.about_text_two {
    font-size: 1.2em;
    display: block;
    margin-left: 470px;
}

.about_text_three {
    font-size: 1.2em;
    display: block;
    margin-left: 520px;
}

.footerbar_about {
    background-color: #0A3641;
    overflow: hidden;
    text-align: center;
    position: relative;
    margin-top: 150px;
}

/* Privacy page, Terms page, Accesibility page */

.privacy {
    position: absolute;
    display: block;
    margin-left: 600px;
    margin-top: 200px;
    font-size: 2em;
}

/* Store.html */

.find_store {
    display: block;
    margin-left: 600px;
    margin-top: 70px;
    font-size: 2em;
}

.sandvika {
    position: absolute;
    width: 450px;
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 500px;
}

.sandvika_text {
    position: absolute;
    font-size: 1.4em;
    margin-top: 370px;
    margin-left: 300px;
}

.grunerlokka {
    width: 450px;
    margin-left: 200px;
    margin-top: 450px;
}

.grunerlokka_text {
    position: absolute;
    margin-left: 335px;
    font-size: 1.4em;
}

.storo {
    position: absolute;
    width: 420px;
    margin-left: 750px;
    margin-top: 50px;
}

.storo_text {
    position: absolute;
    font-size: 1.4em;
    margin-top: 370px;
    margin-left: 860px;
}

.sorlandssenteret {
    position: absolute;
    width: 420px;
    height: 280px;
    margin-top: 450px;
    margin-left: 100px;
}

.sorlandssenteret_text {
    position: absolute;
    font-size: 1.4em;
    margin-left: 850px;

}

.footerbar_store {
    background-color: #0A3641;
    overflow: hidden;
    text-align: center;
    position: relative;
    margin-top: 250px;
}