@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: Roboto, sans-serif, Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0xp;
}

.logo {
    display: block;
    text-align: center;
}

.menubar {
    background-color: #0a3641;
    font-size: 1.8em;
    padding: 10px;
    text-align: center;
}

.menu a {
    color: #fff;
    text-decoration: none;
    margin: 35px;
}

nav li, .fa-solid {
    display: inline-block;
}