@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

body {
    font-family: Roboto, sans-serif, Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0xp;
}

nav {
    background-color: #0A3641;
    overflow: hidden;
    text-align: center;
}

nav li {
    display: inline-block;
}

.menu a{
    color: #fff;
    display: block;
    text-decoration: none;
    width: 100px;
    font-size: 1.2em;
}

.footer a, 
.fa-brands {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-size: 1em;
}

/* Home Page */

.homepage_photo {
    background-repeat: no-repeat;
    width: 1425px;
    height: 600px;
}

.cta {
    color: #fff;
}