.thanks {
    position: absolute;
    left: 360px;
    top: 800px;
    font-size: 30px;
    text-align: center;
}

.thanks_undertext {
    position: absolute;
    left: 370px;
    top: 900px;
    font-size: 30px;
    text-align: center;
}