li a {
    text-decoration: none;
    color: black;
}

.jackets_row_one {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    list-style-type: none;
    padding-left: 10%;
    padding-top: 5%;
}

.jackets_text_row_one {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    font-size: 1.4em;
    column-gap: 5%;
    padding-left: 15%;
}

.hikertext {
    padding-left: 5%;
}

.jackets_price_row_one {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    font-size: 1.2em;
    column-gap: 5%;
    padding-left: 16.5%;
    padding-bottom: 5%;
}

.hikerprice {
    padding-left: 10%;
}

.jackets_row_two {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    list-style-type: none;
    padding-left: 10%;
    padding-top: 3%;
}

.jackets_text_row_two {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    font-size: 1.4em;
    column-gap: 3%;
    padding-left: 15%;
}

.jackets_price_row_two {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    font-size: 1.2em;
    column-gap: 8%;
    padding-left: 17%;
    padding-bottom: 5%;
}

.jackets_row_three {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    list-style-type: none;
    padding-left: 10%;
    padding-top: 3%;
}

.jackets_text_row_three {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    font-size: 1.4em;
    column-gap: 5%;
    padding-left: 13%;
}

.jackets_price_row_three {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    font-size: 1.2em;
    column-gap: 5%;
    padding-left: 15%;
    padding-bottom: 5%;
}