.sailorjacket {
    background-image: url(../images/sailor.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 290px;
    height: 350px;
    left: 180px;
    top: 700px;
}

.skijacket {
    background-image: url(../images/ski.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 290px;
    height: 350px;
    left: 560px;
    top: 710px;
}

.hikerjacket {
    background-image: url(../images/hiker.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 290px;
    height: 300px;
    left: 975px;
    top: 730px;
}

.sailortext {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    position: absolute;
    left: 265px;
    top: 1060px;
}

.skitext {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    position: absolute;
    left: 660px;
    top: 1060px;
}

.hikertext {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    position: absolute;
    left: 1070px;
    top: 1060px;
}

.sailorprice {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    position: absolute;
    left: 280px;
    top: 1100px;
}

.skiprice {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    position: absolute;
    left: 670px;
    top: 1100px;
}

.hikerprice {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    position: absolute;
    left: 1080px;
    top: 1100px;
}

.retrojacket {
    background-image: url(../images/retro.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 290px;
    height: 320px;
    left: 180px;
    top: 1200px;
}

.campingjacket {
    background-image: url(../images/camping.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 290px;
    height: 320px;
    left: 550px;
    top: 1200px;
}

.softshelljacket {
    background-image: url(../images/softshell.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 290px;
    height: 340px;
    left: 1000px;
    top: 1200px;
}

.retrotext {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    position: absolute;
    left: 265px;
    top: 1560px;
}

.campingtext {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    position: absolute;
    left: 640px;
    top: 1560px;
}

.softshelltext {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    position: absolute;
    left: 1050px;
    top: 1560px;
}

.retroprice {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    position: absolute;
    left: 280px;
    top: 1600px;
}

.campingprice {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    position: absolute;
    left: 670px;
    top: 1600px;
}

.softshellprice {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    position: absolute;
    left: 1080px;
    top: 1600px;
}

.runningjacket {
    background-image: url(../images/running.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 250px;
    height: 320px;
    left: 190px;
    top: 1700px;
}

.runningtext{
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    position: absolute;
    left: 255px;
    top: 2060px;
}

.runningprice {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    position: absolute;
    left: 280px;
    top: 2100px;
}

.footerbar_women {
    position: absolute;
    width: 1440px;
    height: 83px;
    left: 1px;
    top: 2200px;
    background: #0A3641;
}