.findstore {
    text-align: center;
    font-size: 1.8em;
    padding: 3%;
}

.column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    list-style-type: none;
    column-gap: 5%;
    padding-left: 10%;
    padding-top: 5%;
}

.columntwo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    list-style-type: none;
    column-gap: 5%;
    padding-left: 10%;
    padding-top: 5%;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    list-style-type: none;
    padding-left: 20%;
}

.storo {
    padding-left: 50%;
}

.rowtwo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    list-style-type: none;
    padding-left: 22%;
    padding-bottom: 10%;
}

.sorlandssenteret {
    padding-left: 50%;
}

@media 