.find_store {
    position: absolute;
    left: 633px;
    top: 670px;
    font-size: 1.6em;
}

.sandvika {
    position: absolute;
    width: 450px;
    height: 300px;
    left: 200px;
    top: 756px;
}

.sandvika_text {
    position: absolute;
    left: 310px;
    top: 1070px;
    font-size: 1.3em;
}

.grunerlokka {
    position: absolute;
    width: 450px;
    height: 300px;
    left: 750px;
    top: 756px;
}

.grunerlokka_text {
    position: absolute;
    left: 920px;
    top: 1070px;
    font-size: 1.3em;
}

.storo {
    position: absolute;
    width: 450px;
    height: 300px;
    left: 200px;
    top: 1200px;
}

.storo_text {
    position: absolute;
    left: 340px;
    top: 1510px;
    font-size: 1.3em;
}

.sorlandssenteret {
    position: absolute;
    width: 450px;
    height: 300px;
    left: 750px;
    top: 1200px;
}

.sorlandssenteret_text {
    position: absolute;
    left: 880px;
    top: 1510px;
    font-size: 1.3em;
}

.footerbar_store {
    background-color: #0A3641;
    overflow: hidden;
    text-align: center;
    position: relative;
    margin-top: 250px;
}