.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

img {
    max-width: 100%;
}

.hikerimg {
    flex-basis: 35%;
}

.hikertxt {
    font-size: .8em;
    padding-left: 3%;
}

.cta_buy {
    background-color: #0a3641;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    align-items: center;
    margin-bottom: 5%;
    padding: 10px 20px;
    max-width: 30%;
}