li {
    list-style: none;
}

.fa-sharp {
    color: black;
    text-decoration: none;
    padding: 10px;
    font-size: 2em;
    position: absolute;
    left: 100px;
    top: 700px;
}

.back_button {
    color: black;
    text-decoration: none;
    padding: 10px;
    font-size: 1em;
    position: absolute;
    left: 100px;
    top: 730px;
}

.retro_jacket {
    position: absolute;
    width: 550px;
    height: 600px;
    left: 170px;
    top: 800px;
}

.retro_text {
    position: absolute;
    left: 850px;
    top: 950px;
    font-size: 1.5em;
}

.retro_lorem {
    position: absolute;
    left: 850px;
    top: 1000px;
    font-size: 1em;
}

.retro_lorem_two {
    position: absolute;
    left: 850px;
    top: 1030px;
    font-size: 1em;
}

.retro_lorem_three {
    position: absolute;
    left: 850px;
    top: 1060px;
    font-size: 1em;
}

.retro_price {
    position: absolute;
    left: 850px;
    top: 1120px;
    font-size: 1.2em;
}

.add_button {
    background-color: #0A3641;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 70px;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    left: 919px;
    top: 1250px;
}